$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins.scss";
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_forms.scss";
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_normalize.scss";
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_navbar.scss";
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_navs.scss";
// endbower
/*mmi*/

$vegas-red-color: #990000;
$box-background-color: #fffdf5;
$tab-background-color: #ffc033;
body {
    margin: 0;
    background-color: #000;
    font-size: 14px;
    line-height: initial;
}

a {
    cursor: pointer;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0 0 5px 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

#content {
    width: 960px;
    height: 1000px;
    margin: 0 auto;
    background-color: #fff;
}

#content h2 {
    font-size: 16px;
}

.vegas-red {
    color: $vegas-red-color;
}

.fine-print {
    font-size: 10px;
}

#content-fine-print {
    clear: both;
    margin: 0 5px 15px 5px;
}

#content-available-hotels {
    border: 1px solid $tab-background-color;
}

#available-hotels-table {
    table-layout: fixed;
    width: 100%;
    margin-left: 4px;
}

#content table td {
    overflow: hidden;
}

#content-left-column {
    width: 270px;
    float: left;
    clear: right;
    margin-left: 7px;
}

#content-right-column {
    float: right;
    width: 660px;
    margin-right: 15px;
    margin-top: 10px;
}

#content-hotel-image {
    padding: 5px;
    border: 1px solid $tab-background-color;
}

#breadcrumbs {
    padding-left: 10px;
    background-color: #eeeeee;
}

#booking-info {
    float: right;
    margin-right: 15px;
}

#rate-guarantee {}

#rate-guarantee > a {
    padding-left: 5px;
}

#content-offer-left {
    margin-bottom: 20px;
}

#content-offer {}

#content-offer-right {
    float: right;
}

#offer-details {
    width: 275px;
    float: right;
}

#offer-details-flighthotel {
    float: left;
    width: 50%;
    padding-right: 7px;
}

#offer-details-hotelonly {
    float: left;
    width: 50%;
    border-left: 1px solid gray;
    overflow: hidden;
    padding-left: 7px;
}

#offer-details-hotelonly p,
#offer-details-flighthotel p {
    margin-bottom: 3px;
}

.showmore {
    float: left;
    clear: both;
}
.showmore.showmorehidden {
    height: 200px;
    overflow: hidden;
}

.hotel-details-left {
    float: left;
    width: 49%;
}

.hotel-details-right {
    float: right;
    width: 49%;
}

#vegas-tabs-box {
    padding: 10px 20px 3px 0;
}

#vegas-tabs-box .tab-content {
    width: 660px;
    padding: 10px 10px 20px 10px;
    color: #000;
    background-color: $box-background-color;
    border: 1px solid $tab-background-color;
    border-top: none;
}

.vegas-tabs-list {
    width: 660px;
    padding: 9px 0;
    margin: 0;
    border-bottom: 1px solid $tab-background-color;
    font: bold 12px Arial, sans-serif;
}

.vegas-tabs-list li {
    list-style: none;
    margin: 0;
    display: inline;
}

.vegas-tabs-list li a {
    padding: 9px 15px;
    border: 1px solid $tab-background-color;
    border-bottom: none;
    background: $tab-background-color;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

.vegas-tabs-list li a {
    color: #000;
}

.vegas-tabs-list li a:hover {
    color: gray;
}

.vegas-tabs-list li.active a {
    background: $box-background-color;
    border-bottom: 1px solid #fff;
}

.icon-up-triangle {
    font-size: 32px;
    position: relative;
    top: 4px;
}
.icon-down-triangle {
    font-size: 20px;
}
a:hover .icon-up-triangle,
a:hover .icon-down-triangle {
    text-decoration: none;
    display: inline-block;
}
/***sprites***/

.best-rate-img {
    width: 34px;
    height: 32px;
    position: relative;
    top: 10px;
    display: inline-block;
    background: url('../images/sprite.jpg') 0 0;
}

.star-img {
    width: 20px;
    height: 17px;
    position: relative;
    top: 5px;
    display: inline-block;
    background: url('../images/sprite.jpg') 0 -32px;
}

.like-img {
    width: 20px;
    height: 17px;
    position: relative;
    top: 1px;
    display: inline-block;
    background: url('../images/sprite.jpg') 0 -49px;
}
/*end mmi*/
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {}