$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins.scss";

//@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_forms.scss";
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_normalize.scss";
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_navbar.scss";
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_navs.scss";

// endbower


/*mmi*/
/*headline color: #990000 */
/*box background color: #fffdf5 */
/*tab background color: #ffc033 */
body {
  padding: 100px;
  margin: 0;
  background-color: #000;
}

a {
    cursor: pointer; /*what's overriding this?*/
}

#content {
    width: 960px;
    height: 1000px;
    margin: 0 auto;
    background-color: #fff;
}

#content h2 {
    font-size: 16px;
}

#content table {
    table-layout: fixed;
}

#content table td {
    overflow: hidden;
}

#content-fine-print p {
    font-size: 8px;
    margin: 0 5px 15px 5px;
    clear: both;
}

#content-offer {
    height: 115px;
}

#content-available-hotels {
    border: 1px solid #ffc033;
}

#content-left-column {
    width: 270px;
    float: left;
    clear: right;
    margin-left: 4px;
}

#content-right-column {
    float: right;
    width: 660px;
}

#content-hotel-image {
    padding: 5px;
    border: 1px solid #ffc033;
}

#breadcrumbs {
    padding-left: 10px;
    background-color: #eeeeee;
}

#booking-info {
    float: right;
}

.showhide {
    float: left;
    clear: both;
}

.vegas-red {
    color: #990000;
}

.hotel-details-left {
   float: left;
    width: 49%;
}

.hotel-details-right {
   float: right;
    width: 49%;
}

#vegas-tabs-box {
    padding: 100px 20px 3px 0;
}

#vegas-tabs-box .tab-content {
  width: 675px;
  color: black;
  background-color: #fffdf5;
  border: 1px solid #ffc033;
  border-top: none;
}

.vegas-tabs-list {
    width: 675px;
    padding: 3px 0;
    margin: 0;
    border-bottom: 1px solid #ffc033;
    font: normal 12px Verdana, sans-serif;
}

.vegas-tabs-list li {
    list-style: none;
    margin: 0;
    display: inline;
}

.vegas-tabs-list li a {
    padding: 3px 0.5em;
    border: 1px solid #ffc033;
    border-bottom: none;
    background: #ffc033;
    text-decoration: none;
    border-radius: 4px 4px 0 0 ;
}

.vegas-tabs-list li a:link {
    color: #000;
}

.vegas-tabs-list li a:hover {
    color: gray;
}
.vegas-tabs-list li.active a {
    background: #fff;
    border-bottom: 1px solid white;
}

/*mmi*/

/* Space out content a bit */


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}
